html {
    font-size: 62.5%;    
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    background-color: #eaeded;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer' ;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header {
    grid-area: header;
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    grid-area: main;
    padding: 1rem;

}
footer {
    grid-area: footer;
    background-color: #131921;
    color: #ffffff;
}
/* common */
h1 {
   font-size: 1.8rem;
   padding: 1rem 0; 
}
h2 {
    font-size: 1.8rem;
    padding: 1rem 0; 
 }

a {
    text-decoration: none;
    color: black; 
}
a:hover {
    color: orange;
}

header a {
    color: #ffffff;
    padding: 1rem;
}

a.brand {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;
}
.row.center {
    justify-content: center;
}

/* Images */
img {
    border-radius: 0.5rem;
}
img.medium {
    max-width: 29rem;
    width: 100%;
}
.card {
   border: 0.1rem #c0c0c0;
   background-color: whitesmoke;
   margin: 1rem;
   padding: 5px;
}
.card-body {
    padding: 1rem;
}
.card-body > * {
    margin-bottom: 0.5rem;
}
.price {
    font-size: 2rem;
}

/* rating */
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}